@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

body{
margin: 0;
font-family: Arial, sans-serif;
font-size: 0.9Rem;
}
a{
    margin:5px;
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration:underline;
}
.header-nav{
    display:flex;
    justify-content: flex-end;
}
.header-navleft{
    display: flex;
    align-items: center; 
    padding-top:0;
    
}
.header-navright{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right:10px;
}
.my-apps{
    max-width:35%;
    max-height:35%;
    cursor: pointer;
    border-radius: 80%;
}
.my-profile{
    max-width:45%;
    max-height:45%;
    margin-left: 5px ;
    cursor: pointer;
    border-radius: 70%;
}
.my-apps:hover, .my-profile:hover{
    background-color: #c4bebe8a;
    box-shadow: 0 0 0 6Px gainsboro;
    cursor: pointer;
}
section{
       display:flex;
       flex-direction: column;
       align-items: center;
       margin-top: 2vh;
   }
   
section h1{
       font-size: 5.5em;
       margin-top: 0;

   }
.my-input-container{
       display: flex;
       justify-content: space-between;
       width:600px;
       height:40px;
       border:1px solid #8080808a;
       border-radius: 30px;
   }
.my-input-container:hover{
    box-shadow: 0 0 10px gainsboro;
   }
.img-1{
       width:20px;
       height:20px;
       padding: 10px;
   }
.my-input-container > input {
    flex-grow: 8;
    border:none;
    outline: none;
}
.img-2{
    width:32px;
    height:32px;
    padding:5px 10px;
}

.my-button-container{
       display: flex;
       flex-direction:row;
       padding-top:10px;
   }
 
.button-1, .button-2{
    margin-left: 20px;
    padding:8px 13px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f8f9fa;
    border: gainsboro;
    font-size: 15px;
}
.button-1 a, .button-2 a{
text-decoration: none;
}
.button-1:hover, .button-2:hover{
    cursor: pointer;
    box-shadow: 0 0 2px gray;
    }
section p a{
    color: blue;
}

footer{
       background-color: #f2f2f2;
       position: fixed;
       bottom:0;
       width:100vw;
   }
.footer-nav{
    display: flex;
    justify-content: space-between;
}
footer h1{
    font-size: 14px;
    padding-left: 20px;
    padding-bottom: 5px;
    color: #808080ec;
    font-family: arial,sans-serif;
}
.footer-right{
display: flex;
justify-content: flex-end;
padding-right: 20px;
align-items: center;
margin-top: 0;
}
.footer-left{
display: flex;
justify-content: flex-start;
padding-left: 20px;
align-items: center;
margin-top: 0;
}
@media screen (max-height:33rem){
    body {
        overflow-x:hidden;
        font-size: 2rem;
    }
    section {
        margin-bottom: 1.5rem;
    }
    footer {
        position:relative;
    }
}
@media screen (max-height:37rem) and (max-width:39rem){
    body {
        overflow-x: hidden;
    }
    section {
        margin-bottom: 0.5rem;
        font-size: 2rem;
    }
    footer {
        position: absolute;
        width: 100%;
        font-size: 2rem;
    }
}